
/* 
.hero {
    padding: 3% 4%;
    background-color: var(--dark);
    color: blue;
}

.app-title {
    font-size: 3rem;
    background-color: blue;
    color:white;
    padding: 0 10px;
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px var(--light-dark);
}


.text-uppercase {
    text-transform: uppercase;
}


.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.justify-space-between {
    justify-content: space-between;
}

.col-12 {
    flex: 0 0 100%;
}


.card {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
}

.card-header {
    color: blue;
    background-color: var(--dark);
    padding: 2.5%;
    border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
}
  
.card-body {
    padding: 2.5%;
}

@media screen and (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
    .col-md-8 {
        flex: 0 0 calc(100% * 8 / 12 - 2%);
    }

} 
*/

  
